.wrapper{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    'LeftSide'
    'Center'
    'RightSide'
    ;
}
/* .img {
    grid-area: LeftSide;
} */
img{
    border: 1px solid black;
}
.RightSide{
    grid-area: 'RightSide';
}