.mainwrapper{
    display: flex;
    height: 100%;
    flex: 1 1 auto;
}
.wrapper{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 'img'
    'description'
    'pricetag'
    ;
    grid-template-columns: 1fr 1fr 1fr ;
}
.img{
    grid-area: img;
    height: 600px;
    width: 450px;
    margin: 30px;
    overflow: hidden;
    border: none;
}
.img:hover{
    transition-timing-function: linear;
    transition-duration: 2s;
    transform: scale(1.2);
    overflow: hidden;
}

.imgwrapper{
    margin-left: 30px;
    height: 600px;
    width: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.detailwrapper ul li{
    list-style-type: none;
    margin-top: 10px;
}
.detailwrapper ul:last-child{
margin-top: 60px;
}
.detailwrapper{
    display: flex;
    justify-content: center;
}
.title{
    font-weight: bold;
}
.orderbox {
    display: grid;
    grid-template-columns: 1fr;
}
.orderboxfinal{
margin-top:50px;
border:1px solid black;
display: grid;
grid-template-areas: 'top'
'middle'
'bottom';
grid-template-rows: 1fr 1fr 1fr;
height: 300px;
width: 400px;
}
.thirdBlock{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.orderbox{
grid-area: top;
}
.btn{
grid-area: middle;
display: flex;
justify-content: center;

align-items: center;
}

.btn a{
    padding: 30px;
    color: blue;
    background-color: coral;
    box-shadow:4px 4px 4px black;
}
.btn a:hover{
    transition-timing-function: linear;
    transition-duration: 1s;
    color:green;
    box-shadow:none
}
.firstBlock{
    display: flex;
    justify-content: space-between;
}
.firstBlock div{
    margin: 10px;
}
.secondBlock{
    display: flex;
    justify-content: space-between;
}
.secondBlock{
    margin: 10px;
}
@media screen and (max-width:1150px) {
    .wrapper{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows:1fr;
        grid-template-columns: 1fr;
    }
    .imgwrapper{
       display: block;
        height: 600px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .orderboxfinal{
        display: block;
        margin-top:50px;
        margin-bottom:20px;
        border:1px solid black;
        display: grid;
        grid-template-areas: 'top'
        'middle'
        'bottom';
        grid-template-rows: 1fr 1fr 1fr;
        height: 300px;
        width: 250px;
        }
        .orderboxwrapper{
            display: flex;
            width: 100%;
            justify-content: center;
        }
        img{
            max-width:300px;
        }
}

  